.App {
  text-align: center;
}
.card{
  position: relative;
  width: 70%;
  height: 70%;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 1%;
  box-shadow: 5px 10px 5px 10px #000000;
  padding: 20px;
}

.card .title{
  animation: iconanimation 3s infinite;
}
.title{
  font-weight: 800;
  color: #000000b9;
  font-size: 30px;
}
.search-form{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form input{
   width: 85%;
   height: 40px;
   padding: 5px;
   border: none;
   background: #bbb8ce;
   /* color: #000; */
   border-radius: 10px;
   margin: 0 auto;
}

.search-form input::placeholder{
  color: black;
}

.search-form button{
  width: 7%;
  height: 50px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(45deg, #251463 30%, #1f1c18 90%);
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

.search-form button:hover{
  background: linear-gradient(45deg, #2d3464 30%,#33230d 90%);
}

.main-container{
  width: 100%;
  height: auto;
  color: #000000b9;
  text-align: center;
  margin-top: 30px;
}

.main-container h4{
  font-weight: 800;
  font-size: 25px;
}

.main-container .weather-icon img{
  width: 100px;
  height: 100px;
  animation: iconanimation 3s infinite;

}

@keyframes iconanimation{
  from{
        transform: scale(0.5,0.5);
  }
  to{
    transform: scale(1,1);

  }
}

@media screen and (min-width:600px) {
  /* .search-form input{
    width: 70%;
  } */
  .search-form button{
    width: 15%
  }
}
@media screen and (max-width:600px) {
  .search-form input{
    width: 70%;
  }
  .search-form button{
    width: 25%
  }
}

.temperature h1{
  font-size:30px;
  font-weight: 900;
}
